In [30]:

import pandas as pd

data = pd.read_excel(r"C:\Users\mello\Bureau\Covid-situation-par-région.xlsx") 

df = pd.DataFrame(data, columns = ['Date','Tanger-Tétouan-Al Hoceïma','Fès-Meknès','Rabat-Salé-Kénitra',
                                   'Béni Mellal-Khénifra','Oriental',
                                   'Casablanca-Settat',
                                  'Marrakech-Safi','Drâa-Tafilalet','Souss-Massa','Guelmim-Oued Noun',
                                   'Laâyoune-Sakia El Hamra',
                                   'Dakhla-Oued Ed Dahab',
                                   'cas confirmés','cas exclus suite à un résultats négative','nombre de mort',
                                   'nombre guéri','nombre total de mort',
                                   'nombre total de guéri'])

In [31]:
print(df)

         Date  Tanger-Tétouan-Al Hoceïma  Fès-Meknès  Rabat-Salé-Kénitra  \
0  2020-03-12                          0           0                   2
1  2020-03-13                          1           0                   2
2  2020-03-14                          1           3                   9
3  2020-03-15                          1           3                  11
4  2020-03-16                          2           3                  11
5  2020-03-17                          3           7                  12
6  2020-03-18                          3           7                  14
7  2020-03-19                          4          10                  16
8  2020-03-20                          7          19                  20
9  2020-03-21                          7          21                  22
10 2020-03-22                          8          24                  27
11 2020-03-23                          9          35                  32
12 2020-03-24                         11          36                  40
13 2020-03-25                         15          50                  45
14 2020-03-26                         16          51                  50
15 2020-03-27                         23          63                  56
16 2020-03-28                         25          66                  71
17 2020-03-29                         32          87                  83
18 2020-03-30                         38          91                  88
19 2020-03-31                         39         105                 105
20 2020-04-01                         44         110                 112
21 2020-04-02                         47         113                 115
22 2020-04-03                         56         117                 130
23 2020-04-04                         62         128                 169
24 2020-04-05                         78         133                 181
25 2020-04-06                         84         140                 184
26 2020-04-07                         96         152                 186
27 2020-04-08                        100         159                 191
28 2020-04-09                        115         167                 209
29 2020-04-12                        153         215                 237
30 2020-04-13                        169         233                 225
31 2020-04-16                        230         317                 258
32 2020-04-17                        255         268                 259
33 2020-04-18                        283         386                 262
34 2020-04-19                        312         418                 273
35 2020-04-20                        383         448                 280
36 2020-04-21                        426         480                 281
37 2020-04-22                        461         490                 282
38 2020-04-23                        491         494                 286
39 2020-04-24                        492         499                 297
40 2020-04-25                        502         503                 299
41 2020-04-26                        529         515                 304
42 2020-04-27                        544         520                 306
43 2020-04-28                        544         534                 309
44 2020-04-29                        565         539                 314
45 2020-04-30                        597         551                 314
46 2020-05-01                        619         573                 326
47 2020-05-02                        657         584                 329
48 2020-05-03                        704         619                 342
49 2020-05-04                        730         662                 375
50 2020-05-05                        740         665                 453

    Béni Mellal-Khénifra  Oriental  Casablanca-Settat  Marrakech-Safi  \
0                      1       NaN                  3               0
1                      1       NaN                  3               1
2                      1       NaN                  7               2
3                      2       NaN                  7               3
4                      2       NaN                  7               3
5                      2       NaN                 11               5
6                      2       NaN                 12               5
7                      2       NaN                 14               7
8                      2       NaN                 20               8
9                      2       NaN                 22              10
10                     2       NaN                 25              10
11                     3       NaN                 34              15
12                     4       NaN                 42              22
13                     6       NaN                 59              32
14                     7       NaN                 87              43
15                     7       NaN                104              51
16                    10       NaN                117              70
17                    10       NaN                133              81
18                    17       NaN                159              93
19                    18       NaN                176             107
20                    21       NaN                181             115
21                    23       NaN                189             127
22                    24       NaN                221             113
23                    26       NaN                247             140
24                    28       NaN                295             186
25                    30       NaN                310             193
26                    33       NaN                332             201
27                    37       NaN                370             230
28                    41       NaN                404             258
29                    48       NaN                484             314
30                    48       NaN                521             335
31                    56       NaN                681             487
32                    58       NaN                716             648
33                    58       NaN                760             663
34                    60       NaN                782             724
35                    61       NaN                840             739
36                    62       NaN                855             739
37                    63       NaN                917             742
38                    78       NaN                942             772
39                    78       NaN                982             802
40                    78       NaN               1041             818
41                    78       NaN               1086             824
42                    78       NaN               1075             843
43                    80       NaN               1086             917
44                    80       NaN               1100             928
45                    80       NaN               1120             957
46                    83       NaN               1157            1004
47                    83       NaN               1203            1059
48                    84       NaN               1265            1070
49                    85       NaN               1306            1076
50                    85       NaN               1362            1091

    Drâa-Tafilalet  Souss-Massa  Guelmim-Oued Noun  Laâyoune-Sakia El Hamra  \
0              NaN            0                  0                        0
1              NaN            0                  0                        0
2              NaN            0                  0                        0
3              NaN            0                  1                        0
4              NaN            0                  1                        0
5              NaN            0                  1                        0
6              NaN            0                  1                        0
7              NaN            0                  1                        0
8              NaN            5                  1                        0
9              NaN            6                  1                        0
10             NaN            6                  1                        0
11             NaN            6                  1                        0
12             NaN            6                  1                        0
13             NaN            8                  1                        0
14             NaN           10                  1                        0
15             NaN           11                  1                        0
16             NaN           11                  1                        0
17             NaN           14                  1                        0
18             NaN           17                  1                        0
19             NaN           17                  1                        0
20             NaN           17                  1                        2
21             NaN           18                  2                        2
22             NaN           19                  1                        2
23             NaN           19                  1                        4
24             NaN           19                  1                        4
25             NaN           19                  1                        4
26             NaN           19                  1                        4
27             NaN           20                  1                        4
28             NaN           20                  1                        4
29             NaN           23                  1                        4
30             NaN           24                  1                        4
31             NaN           27                  1                        4
32             NaN           28                  1                        4
33             NaN           35                  1                        4
34             NaN           44                  1                        4
35             NaN           47                  1                        4
36             NaN           47                  1                        4
37             NaN           47                  1                        4
38             NaN           50                  1                        4
39             NaN           50                  6                        4
40             NaN           50                 22                        4
41             NaN           50                 23                        4
42             NaN           50                 29                        4
43             NaN           50                 29                        4
44             NaN           50                 29                        4
45             NaN           51                 29                        4
46             NaN           51                 29                        4
47             NaN           51                 36                        4
48             NaN           51                 39                        4
49             NaN           51                 39                        4
50             NaN           52                 39                        4

    Dakhla-Oued Ed Dahab  cas confirmés  \
0                      0              6
1                      0              8
2                      0             18
3                      0             28
4                      0             37
5                      0             44
6                      0             54
7                      0             63
8                      0             79
9                      0             96
10                     0            115
11                     0            143
12                     0            170
13                     0            225
14                     0            275
15                     0            345
16                     0            402
17                     0            479
18                     0            556
19                     0            617
20                     0            654
21                     0            708
22                     0            791
23                     0            919
24                     0           1021
25                     0           1120
26                     0           1184
27                     2           1275
28                     2           1374
29                     2           1661
30                     2           1763
31                     2           2283
32                     2           2564
33                     2           2685
34                     2           2855
35                     2           3024
36                     2           3209
37                     2           3446
38                     2           3568
39                     2           3758
40                     2           3897
41                     2           4065
42                     2           4120
43                     2           4252
44                     2           4321
45                     2           4423
46                     2           4569
47                     2           4729
48                     2           4903
49                     2           5053
50                     2           5219

    cas exclus suite à un résultats négative  nombre de mort  nombre guéri  \
0                                         91               1             0
1                                        106               0             1
2                                        112               0             0
3                                        122               0             0
4                                        152               0             0
5                                        183               1             0
6                                        263               0             0
7                                        307               0             1
8                                        385               1             0
9                                        441               0             1
10                                       512               1             0
11                                       643               0             2
12                                       685               1             1
13                                       740               1             1
14                                       931               4             1
15                                      1423              13             3
16                                      1574               2             1
17                                      1794               1             1
18                                      2195               7             2
19                                      2462               3             9
20                                      2691               3             5
21                                      2916               5             2
22                                      3119               4            26
23                                      3402              11             9
24                                      3827              11            10
25                                      3984              10             5
26                                      4253              10            12
27                                      4477               3             4
28                                      5009               4            12
29                                      6943               7            31
30                                      7365               8            26
31                                      9713               3            20
32                                     10388               5            32
33                                     11004               2            33
34                                     12268               4            13
35                                     13340               2            23
36                                     14891               2            43
37                                     16439               4            24
38                                     18379               6            39
39                                     20175               3            30
40                                     21546               1            51
41                                     23334               2            56
42                                     25134               1           102
43                                     26998               3            83
44                                     28609               3           150
45                                     30418               2            56
46                                     32437               1            99
47                                     34638               2           173
48                                     37209               1           182
49                                     40249               5           215
50                                     44351               2           185

    nombre total de mort  nombre total de guéri
0                      1                      0
1                      1                      1
2                      1                      1
3                      1                      1
4                      1                      1
5                      2                      1
6                      2                      1
7                      2                      2
8                      3                      2
9                      3                      3
10                     4                      3
11                     4                      5
12                     5                      6
13                     6                      7
14                    10                      8
15                    23                     11
16                    25                     12
17                    26                     13
18                    33                     15
19                    36                     24
20                    39                     29
21                    44                     31
22                    48                     57
23                    59                     66
24                    70                     76
25                    80                     81
26                    90                     93
27                    93                     97
28                    97                    109
29                   118                    177
30                   126                    203
31                   130                    249
32                   135                    281
33                   137                    314
34                   141                    327
35                   143                    350
36                   145                    393
37                   149                    417
38                   155                    456
39                   158                    486
40                   159                    537
41                   161                    593
42                   162                    695
43                   165                    778
44                   168                    928
45                   170                    984
46                   171                   1083
47                   173                   1256
48                   174                   1438
49                   179                   1653
50                   181                   1838